<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yotsufe.techresearch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">
        <activity android:name="com.yotsufe.techresearch.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.yotsufe.techresearch.activities.AnimationTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.HttpTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.MediaPlayerTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.NetworkTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.RemoteConfigTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.RecordingSoundTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.recordingvideo.RecordingViewPagerTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.recordingvideo.RecordingVideoTestActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.webview.WebViewMenuActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.webview.WebViewLocalFileActivity" />
        <activity android:name="com.yotsufe.techresearch.activities.webview.WebViewTestActivity" />

        <service
            android:name="com.yotsufe.techresearch.services.ResearchFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".services.MediaProjectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

    </application>

</manifest>
